* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Background colors */
  --bg-primary-color: #0c0c0c;
  --bg-fill-color: #fdfdfc;
  /* Text background color */
  --text-primary-color: #f0f0f0;
  --bg-food-color: #ff3b3b;

  /* spacing variables*/
  --space-xs: 4px;
  --space-s: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 40px;
  --space-3xl: 48px;

  /* Borders */
  --border-primary-color: #989595;
  --border-radius-xs: 4px;
  --border-radius-s: 8px;
  --border-radius-md: 16px;
  --border-radius-lg: 24px;
  --border-radius-xl: 32px;
  --border-radius-2xl: 40px;
  --border-radius-3xl: 48px;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.3px;
}
.btn {
  padding: var(--space-s) var(--space-md);
  border: none;
  border-radius: var(--border-radius-s);
  cursor: pointer;
  background: linear-gradient(135deg, #1e1e1e, #292929);
  color: #f0f0f0;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.3px;
  transition: 0.25s ease;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.btn:hover {
  transform: translateY(-3px) scale(1.06);
  background: linear-gradient(135deg, #efdf84, #ffea63);
  color: #000;
  box-shadow: 0 8px 20px rgba(255, 215, 0, 0.5);
}


main,
section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: var(--space-2xl);
  gap: var(--space-lg);
}

.infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: var(--space-md);
}

.info {
  padding: var(--space-s) var(--space-md);
  border: 1px solid var(--border-primary-color);
  border-radius: var(--border-radius-s);
}

.board {
  border: 1px solid var(--border-primary-color);
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
  /* border-radius: var(--border-radius-md); */
  /* padding: var(--space-md); */
}

.block {
  /* width: 30px;
    height: 30px; */
  border: 1px solid var(--border-primary-color);
  /* flex-shrink: 0; */
  border-radius: 50%;
}

.fill {
  background-color: var(--bg-fill-color);
}

.food {
  background-color: var(--bg-food-color);
}

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: #35353587;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .start-game,.modal .game-over{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-md);
  font-size: x-large;
}

.modal .game-over{
  display: none;
}
